nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav__logo__links--container {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 40px;
}

.nav__links{
    margin-left: 16px;
}

.nav__link {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
}

.nav__profile--img {
    height: 56px;
    border-radius: 50%;
}